*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}    
form{
    width: 100%;
    text-align: center;
    margin-top: 4rem;
}
.form-wrapper{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    /* height: 430px; */
    min-height: 200px;
}
.tittle{
    padding: .7rem;
    color: dodgerblue;
}
.form-wrapper > div {
    padding: 8px;
    margin: .9rem;
}
.form-wrapper > div > input {
    width: 100%;
    padding: .6rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}
.btn button{
    padding: 0.2rem .9rem;
    background-color: dodgerblue;
    border: none;
    color: white;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.btn button:hover{
    cursor: pointer;
    background-color: purple;
}
